// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.events-heading {
  text-align: center;
}

.event-img {
  height: 250px;
  width: 340px;
}

.no-results {
  text-align: center;
}
